<%- include('partials/header') %>

 <body>
     
    <img src="/images/todoimage.png" alt="" class="todoimg">
    <div class="box">
      <form action="/" method="post">
          <button class=" homebtn" type="submit" name="button" value="newlist">Create New List</button>
      </form>
      <form action="/" method="post">
        <button class="homebtn" type="submit" name="button" value="mylists">Show My Lists</button>
      </form>
      </div>
</body>   
    
<footer>
    <%- include('partials/footer') %>

</footer>
